.container {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    
  }

.hero img{
    border-radius:0;
}

aside.bmoright, aside.Techleft {
    text-align: center;
    float: inherit;
}

h1{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 5px;
}
p {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 28px;
    color: #d0f4f1;
  }